.header {
  text-align: center;
  padding: 2rem 1rem;
}

header h1{
  color: var(--main-black);
  font-weight: 500;
  font-size: 36px;
}

.btn-shop {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
}
