<div class="taps-container">
    <div class="taps-header">
        <div class="tap-item"><button>Pestaña 1</button></div>
        <div class="tap-item"><button>Pestaña 2</button></div>
        <div class="tap-item"><button>Pestaña 3</button></div>
        <div class="tap-item"><button>Pestaña 4</button></div>
    </div>
    <div class="taps-image">
        <picture>
            <source media="(max-width: 768px)" srcset="assets/taps.png">
            <source media="(min-width: 769px)" srcset="assets/taps-desktop.avif">
            <img src="assets/banner-desktop.jpg" alt="Imagen taps" />
        </picture>
        <button>
            What's on sale
        </button>
    </div>
</div>