/* You can add global styles to this file, and also import other style files */
:root {
  --md-sys-color-primary: #242424;
  --main-black: #242424;
  --secondary-black: #333333;
}

html, * {
  box-sizing: border-box;
  --mat-sys-inverse-primary: #242424;
}
html, body {
   max-width: 100%;
   overflow-x: hidden;
}

body {
  font-family: "Cormorant", serif;
  margin: 0;
  background: white;
  overflow-x: hidden;
}

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
p{
  font-size: 14px;
}
.main-black {
  background: var(--main-black);
  color: white;
}

html,
body {
  height: 100%;
}